# Gradle files
.gradle/
build/
*/build/

# Local configuration file (sdk path, etc)
local.properties

# IntelliJ / Android Studio
*.iml
.idea/
.idea/modules.xml
.idea/workspace.xml
.idea/libraries

# Keystore files
*.jks
*.keystore
*.p12
*.key

# OS specific
.DS_Store
Thumbs.db

# Build artifacts
*.apk
*.aab
*.dm
/app/release/
/app/build/
/build/

# Google Play translations
/upload_certificate.pem
/fastlane/metadata/android/make_play_releasenotes.py
/app/signing.properties
