# Gradle files
.gradle/
build/
*/build/

# Local configuration file (sdk path, etc)
local.properties

# IntelliJ / Android Studio
*.iml
.idea/
.idea/modules.xml
.idea/workspace.xml
.idea/libraries

# Keystore files
*.jks
*.keystore
*.p12
*.key

# OS specific
.DS_Store
Thumbs.db
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/app/release/app-arm64-v8a-release.apk
/app/release/baselineProfiles/0/app-arm64-v8a-release.dm
/app/release/baselineProfiles/1/app-arm64-v8a-release.dm
/app/release/app-armeabi-v7a-release.apk
/app/release/baselineProfiles/0/app-armeabi-v7a-release.dm
/app/release/baselineProfiles/1/app-armeabi-v7a-release.dm
/app/release/app-x86-release.apk
/app/release/baselineProfiles/0/app-x86-release.dm
/app/release/baselineProfiles/1/app-x86-release.dm
/app/release/app-x86_64-release.apk
/app/release/baselineProfiles/0/app-x86_64-release.dm
/app/release/baselineProfiles/1/app-x86_64-release.dm
/app/release/output-metadata.json
